  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    height: 100vh;
  }

.stack {
  margin-left: 40px;
  text-align: left;
}
.coding {
  position: relative;
  top: 5px;
}
.react {
  position: relative;
  top: 30px;
  animation: rotate_image 10s linear infinite;
  transform-origin: -0.1% -0.1%;
}

@keyframes rotate_image{
100% {
    transform: rotate(360deg);
  }
}
.instagram {
  margin-right: 100px;
}
.github {
  margin-right: 100px;
}
.text-wrapper {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  animation-duration: 2s;
}

