  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    height: 100vh;
  }

.stack {
  margin-left: 40px;
  text-align: left;
}
.coding {
  position: relative;
  top: 5px;
}
.react {
  position: relative;
  top: 5px;
}
.instagram {
  margin-right: 100px;
}
.github {
  margin-right: 100px;
}
.text-wrapper {
  display: inline-block;
}

