.box {
  display: flex;
  justify-content: center; /* 좌우 중앙 */
  align-items: center; /* 위아래 중앙 */
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  height: 100vh; /* 뷰포트 전체 높이를 차지하게 해서 중앙 정렬이 쉽게 가능하게 함 */
}

.stack {
  margin-left: 40px;
  text-align: left;
}
.coding {
  position: relative;
  top: 5px;
}
.react {
  position: relative;
  top: 5px;
}
.instagram {
  margin-right: 100px;
}
.github {
  margin-right: 100px;
}
